.statistics-cont {
  background-color: #fff;
  display: flex;
  font-family: 'Lato', sans-serif;
  flex-direction: column;
  border-radius: 20px;
  width: 90%;
  justify-content: center;
  align-items: center;
  color: #fff;
  padding-top: 2rem;
  padding-bottom: 2rem;
  box-shadow: 5px 5px 5px rgba(228, 228, 228, 0.438);
  background: linear-gradient(67deg,#97d6a3,#94c894,#174217);
  background-size: 180% 180%;
  animation: gradient-animation 12s ease infinite;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.total-sub-sect {
  display: flex;
  width: 70%;
  margin: auto;
  justify-content: center;
  text-align: center;
}

.total-each-sect {
  width: 50%;
}

.statistics-title {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 0;
}
