.topbarSection {
  display: flex;
  flex-direction: row;
  background-color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 1rem;
  justify-content: center;
  box-shadow: 1px 2px 5px rgba(228, 228, 228, 0.438);
}

.logo {
  width: 10%;
  display: block;
}

.home-divider {
  width: 80%;
  margin-top: 8vh;
  opacity: 0.1;
  margin-right: 15%;
  border-color: rgb(8, 74, 40);
}

.batch-cont {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.each-batch-sect {
  background-color: #fff;
  border-radius: 18px;
}

.each-batch-cont {
  width: 47vh;
  padding-left: 2rem;
  padding-top: 2rem;
  padding-bottom: 2rem
}

.view-btn {
  width: 100%;
}

.batch-name {
  font-size: 1rem;
  font-weight: 600;
  color:rgb(8, 74, 40);
  margin-bottom: 0;
}

.batch-date {
  text-transform: uppercase;
  display: flex;
  font-size: 0.7rem;
  margin-bottom: 0;
  color:rgba(8, 74, 40, 0.473)
}
