.body {
 display: flex;
 flex-direction: row;
}

.navSection {
  width: 20%;
  background-color: aqua;
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 10vh;
  bottom: 0;
  left: 0;
}

.pageSection {
  width: 100%;
  display: block;
  padding-left: 25%;
}
